img, legend {
    border: 0
}

legend, td, th {
    padding: 0
}

*, body, figure {
    margin: 0
}

.container:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .row:after {
    clear: both
}

.nav, ul {
    list-style: none
}

@font-face {
    font-family: FontAwesome;
    src: url(../modules/addons/MyCompnayWeb/MyCompnayWeb/fonts/fontawesome-webfont.eot?v=4.6.3);
    src: url(../modules/addons/MyCompnayWeb/MyCompnayWeb/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.6.3) format('woff2'), url(fonts/fontawesome-webfont.woff?v=4.6.3) format('woff'), url(../modules/addons/MyCompnayWeb/MyCompnayWeb/fonts/fontawesome-webfont.ttf?v=4.6.3) format('truetype'), url(../modules/addons/MyCompnayWeb/MyCompnayWeb/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-check:before {
    content: "\f00c"
}

.fa-long-arrow-right:before {
    content: "\f178"
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, optgroup, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

h1, h2, ul {
    margin-bottom: 10px
}

mark {
    background: #ff0;
    color: #000
}

.btn, .navbar-toggle {
    background-image: none
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

hr {
    box-sizing: content-box;
    height: 0
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=submit], input[type=reset] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

.btn, .burger-click-region {
    vertical-align: middle;
    cursor: pointer
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline
}

.nav > li > a:focus, .nav > li > a:hover, .navbar-brand:focus, .navbar-brand:hover, a:hover {
    text-decoration: none
}

a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.container:after, .container:before, .row:after, .row:before {
    display: table;
    content: " "
}

h1, h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

p {
    margin: 0 0 10px
}

ul {
    margin-top: 0
}

.btn, .nav {
    margin-bottom: 0
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-6, .col-sm-7, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-12 {
    float: left;
    width: 100%
}

@media (min-width: 768px) {
    .col-sm-7 {
        float: left;
        width: 58.33333%
    }

    .col-sm-offset-5 {
        margin-left: 41.66667%
    }
}

@media (min-width: 1200px) {
    .col-lg-6 {
        float: left;
        width: 50%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none
}

.nav > li.disabled > a, .navbar-default .navbar-brand {
    color: #777
}

.btn.active, .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.nav {
    padding-left: 0
}

.nav:after, .nav:before {
    content: " ";
    display: table
}

.nav > li, .nav > li > a {
    display: block;
    position: relative
}

.nav > li > a {
    padding: 10px 15px
}

.navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before {
    content: " ";
    display: table
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #eee
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #eee;
    border-color: #337ab7
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    -webkit-overflow-scrolling: touch
}

.navbar-collapse.in {
    overflow-y: auto
}

.container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px
    }

    .navbar-header {
        float: left
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }

    .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left: 0
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px
    }
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px
}

.navbar-brand > img {
    display: block
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none
    }

    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav > li {
        float: left
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

*, ul {
    padding: 0
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a:hover {
    color: #ccc;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #e7e7e7;
    color: #555
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }

    .hidden-xs {
        display: none !important
    }
}

.navbar-default .navbar-link {
    color: #777
}

.navbar-default .navbar-link:hover {
    color: #333
}

.navbar-default .btn-link {
    color: #777
}

.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: #333
}

.navbar-default .btn-link[disabled]:focus, .navbar-default .btn-link[disabled]:hover {
    color: #ccc
}

.hidden {
    display: none !important
}

@-ms-viewport {
    width: device-width
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important
    }
}

hgroup h1 {
    color: #218df1;
    font-size: 41px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase
}

hgroup h2 {
    color: #4f4f4f;
    font-size: 24px;
    font-weight: 400
}

.btn-orange, hgroup h2 span {
    font-weight: 700
}

:focus {
    outline: 0 !important
}

html {
    position: relative;
    min-height: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, video {
    display: block
}

body {
    font-family: "Open Sans", sans-serif
}

@media screen and (min-width: 1024px) {
    body {
        margin-bottom: 555px
    }
}

.main-menu, .main-menu .navbar-nav, ul {
    margin: 0
}

.btn, a {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.btn-orange {
    display: inline-block;
    background-color: #f77b03;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    border-radius: 37px;
    color: #fff;
    font-size: 22px;
    padding: 0
}

.btn-orange span {
    line-height: 1;
    padding: 22px
}

.btn-orange i {
    display: inline-block;
    background-color: #d46902;
    padding: 22px;
    -webkit-border-radius: 0 37px 37px 0;
    -moz-border-radius: 0 37px 37px 0;
    -ms-border-radius: 0 37px 37px 0;
    border-radius: 0 37px 37px 0
}

.btn-orange:hover {
    color: #fff;
    background-color: #fc9531
}

.btn-orange:hover i {
    background-color: #d96c02
}

.logo {
    position: relative;
    display: inline-block;
    padding: 25px 0;
    line-height: 100px;
    height: auto;
    max-width: 324px
}

@media screen and (max-width: 767px) {
    .logo {
        max-width: 200px
    }
}

.topOverButtons{
position: fixed;
    top: 0;
    z-index: 1000;
right:0px;
}
.gearBtn{
    cursor: pointer;
position: absolute;right: 12px;z-index: 1;
}

.howeverEffect:hover{

background-color:#ccc;
cursor :ponter;
}
.button-success  {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
 padding: 10px 12px 10px 12px;
  text-decoration: none;
border:none;
}
.yellowColor{color:#fff000 !important;}

.button-success:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.main-menu {
    background: 0 0;
    border: none;
    border-top: 6px solid #1c69d3;
    z-index: 10;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 0 3px rgba(17, 17, 17, .53)
}

@media screen and (min-width: 1025px) {
    .main-menu .navbar-nav {
        float: right
    }
}

.main-menu .navbar-nav li a {
    color: #1c1c1c;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 37px 20px;
    border-right: 1px solid #d8d8d8
}

.main-menu .navbar-nav li a:hover, .main-menu .navbar-nav li.active a {
    color: #1c69d3
}

@media screen and (max-width: 1024px) {
    .main-menu .navbar-nav li a {
        padding: 10px;
        border: none
    }
}

@media screen and (min-width: 1025px) and (max-width: 1240px) {
    .main-menu .navbar-nav li a {
        padding: 37px 10px;
        font-size: 14px
    }
}

.main-menu .navbar-nav li:first-child a {
    border-left: 1px solid #d8d8d8
}

@media screen and (max-width: 1024px) {
    .main-menu .navbar-nav li:first-child a {
        border: none
    }
}

.main-menu .navbar-header {
    position: relative;
    z-index: 10
}

.main-menu .navbar-toggle {
    border: none;
    background-color: transparent
}

.main-menu .navbar-toggle .toggle {
    display: inline-block;
    vertical-align: middle;
    margin: 0
}

.main-menu .navbar-toggle .toggle .icon-bar {
    background-color: #35d18a
}

.main-menu .navbar-toggle .toggle-text {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: #000;
    margin-right: 10px
}

.main-menu .navbar-toggle.burger-menu {
    position: relative;
    padding: 18px 15px;
    height: 40px;
    margin: 0 auto;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px
}

.main-menu .navbar-toggle.burger-menu.is-open, .main-menu.navbar-default-inner.navbar-scrolling {
    background: 0 0
}

.main-menu.navbar-default-inner {
    position: absolute
}

.navbar-collapse {
    padding: 0
}

.burger-click-region {
    display: inline-block;
    position: relative;
    top: -7px;
    width: 30px;
    margin-left: 15px
}

.burger-menu-piece {
    display: block;
    position: absolute;
    width: 36px;
    border-top: 3px solid #1c69d3;
    transform-origin: 50% 50%;
    transition: transform .4s ease-out
}

.burger-menu-piece:nth-child(1) {
    top: 0
}

.burger-menu-piece:nth-child(2) {
    top: 10px;
    opacity: 1;
    transition: transform .4s ease-out, opacity 0s linear .2s
}

.burger-menu-piece:nth-child(3) {
    top: 20px
}

.main-banner {
    background: url(img/banner-img.jpg) no-repeat;
    min-height: 700px;
    background-size: cover;
    position: relative
}

.main-banner ul {
    margin-top: 15px;
    -webkit-columns: 2 8em;
    -moz-columns: 2 8em;
    columns: 2 8em
}

.main-banner ul li {
    color: #373737;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px
}

.main-banner ul li i {
    color: #6e6e6e;
    display: inline-block;
    margin-right: 5px
}

.main-banner hgroup {
    margin-top: 95px
}

.get-started {
    margin-top: 50px
}

.get-started > span {
    display: inline-block;
    margin-left: 20px;
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 300
}

@media (max-width: 1023px) {
    .get-started > span {
        display: block
    }
}

.get-started > span strong {
    color: #ff8208;
    font-size: 29px;
    font-weight: 700
}

.get-started > span em {
    font-style: normal;
    color: #ff8208;
    font-size: 24px;
    font-weight: 400
}

.plan-detailes {
    display: inline-block;
    background: #1c69cd;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    width: 163px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    border-radius: 28px
}

.plan-detailes.collapsed {
    bottom: 90px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.plan-detailes:after {
    content: "\f077";
    display: inline-block;
    padding-left: 10px;
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome
}

.plan-details {
    background: url(img/plan-details-bg.png) no-repeat #1c69cc;
    background-size: cover;
    color: #fff;
    padding: 45px 0 100px
}

.plan-details h3 {
    font-size: 22px;
    font-weight: 700
}

.plan-details p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding: 0 30px
}

@media (max-width: 767px) {
    .plan-details p {
        margin-bottom: 30px
    }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
    .main-banner {
        background: url(img/banner-img-mb.jpg) no-repeat;
        background-size: cover
    }

    .main-banner-content {
        display: inline-block;
        float: right
    }
}

@media screen and (max-width: 414px) {
    .main-banner {
        background: url(img/banner-img-mb.jpg) no-repeat;
        background-size: cover
    }

    .main-banner-content {
        width: 100%
    }
}

@media screen and (min-width: 415px) and (max-width: 667px) {
    .main-banner {
        background: url(img/banner-img-mb.jpg) no-repeat;
        background-size: cover
    }

    .main-banner-content {
        width: 62%
    }
}

@media screen and (max-width: 1024px) {
    .navbar-default .navbar-header {
        display: block;
        width: 100%;
        margin: 0
    }

    .navbar-default .navbar-nav {
        display: block;
        width: 100%
    }

    .navbar-default .navbar-nav > li {
        display: block;
        float: none
    }

    .navbar-default .navbar-toggle {
        display: block
    }

    .navbar-default .collapse {
        display: none
    }

    .navbar-default .collapse.in {
        display: block !important
    }

    .navbar-default .navbar-collapse {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 1;
        background: #fff
    }

    .navbar-default .navbar-collapse ul {
        margin-top: 90px;
        padding: 0 15px;
        border-top: 1px solid #1c69d3
    }
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: none !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }
}

@media (min-width: 1025px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }
}
.smallsize{font-size:20px !important;}
/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 21% !important;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.gear1{
top: 0px;
    color: #333;
    font-size: 14px;
cursor: pointer;
}
.gearBtnWhite{
    color: yellow;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    margin-top: 45px;

}
.gearFooter{
cursor: pointer;
    position: absolute;
    /* right: 12px; */
    z-index: 1;
    top: -15px;
}

.modal-content{width:50% !important}
.linksOnly input{width:100%;}
.logoOnly input{width:100%;}

